---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  class="block w-full px-4 py-2 rounded-md hover:bg-orange-50 duration-100 active:bg-orange-300"
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    text-decoration: none;
    color: #fb923c;
  }
  a.active {
    font-weight: bolder;
    background-color: rgba(255, 166, 0, 0.189);
    /* text-decoration: underline; */
  }
</style>
